/* Theme-specific styles */
.dark-theme {
	background-color: rgb(55, 55, 55, 0.95); /* Dark theme background */
	color: #fff; /* Dark theme text color */
}

.light-theme {
	background-color: rgb(255, 255, 255, 0.95); /* Light theme background */
	color: #000; /* Light theme text color */
}

/* Assuming your themes are set on the <html> element as .dark-theme or .light-theme */
:root.dark-theme .form-control::placeholder {
	color: #ced4da; /* Dark theme placeholder color */
}

:root.light-theme .form-control::placeholder {
	color: #6c757d; /* Light theme placeholder color */
}

/* Dropdown toggle button */
.dropdown-toggle.dark-theme {
	background-color: #222; /* Darker for dark theme */
	border-color: #444;
	box-shadow: 0 0 5px #222;
}

.dropdown-toggle.light-theme {
	background-color: #0a87ca; /* Lighter for light theme */
	border-color: #024b76;
	box-shadow: 0 0 5px #0a87ca;
}

/* Dropdown menu */
.dropdown-menu.dark-theme {
	padding: 10px;
	/* Inherits background and text color from .dark-theme */
}

.dropdown-menu.light-theme {
	padding: 10px;
	/* Inherits background and text color from .light-theme */
}

/* Sign-in and sign-up button styles */
.sign-in-button,
.sign-up-button {
	border-width: 1.5px;
	width: 150px;
	height: 40px;
	line-height: 20px;
	margin: 8px;
	margin-top: 5px;
	padding: 8px;
}

.logout-button {
	border-width: 1.5px;
	width: 150px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}

/* Style for the "Forgot Password?" link */
.forgot-password {
	color: grey;
	text-align: center;
	display: block;
}

/* General form control adjustments */
.form-control {
	margin-top: 8px; /* Ensures consistent margin for all form controls */
}
