.sidebar-button {
	margin-right: 20px;
	position: absolute;
	right: 0;
	background-color: #1c1e21;
	border-radius: 8px;
	color: #fff; /* Dark theme text color */
	border-color: #f5f5f5;
	box-shadow: #ced4da;
	border-width: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 36px;
	min-height: 36px;
}

/* Entire sidebar menu */
.sidebar-menu {
	display: flex;
	flex-direction: column;
	width: 300px;
	position: absolute;
	top: 90px;
	right: -100%;
	opacity: 1;
	transition: 850ms;
	padding: 0px;
	border-bottom-left-radius: 8px;
}

.sidebar-menu.active {
	background: #1c1e21;
	right: 0;
	opacity: 1;
	transition: all 0.6s ease;
	z-index: 1;
}

/*.sidebar-text {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 60px;
}*/

.sidebar-text a {
	text-decoration: none;
	color: #f5f5f5;
	font-size: 18px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 4px 16px;
	border-radius: 4px;
	margin: 4px;
}

.sidebar-text a:hover {
	background-color: #0a87ca;
}

.sidebar-menu-items {
	width: 100%;
}

/* Sidebar text */
.sidebar-text {
	color: #ffffff; /* Set the desired text color */
}

/* Heading inside sidebar text */
.sidebar-text h2 {
	color: #ffffff; /* Set the desired color for the h2 elements */
}

/* List items inside sidebar text */
.sidebar-text ul li {
	color: #ffffff; /* Set the desired color for the list items */
}

.sidebar-text {
	display: flex;
	align-items: center;
	/* This ensures vertical alignment if necessary */
	text-align: center;
	/* Aligns the text to the left */
	/* Additional styling here */
}

.content {
	flex-grow: 1;
}

.EventsSidePanel {
	position: fixed;
	top: 0;
	left: -300px;
	/* Start hidden off-screen */
	width: 300px;
	/* Set the width of the sidebar */
	height: 100%;
	background-color: white;
	z-index: 1000;
	/* Ensure the sidebar overlays the map */
	transition: left 0.3s ease-in-out;
	/* Add transition effect for smooth animation */
}

.events-sidebar-content {
	padding: 20px;
	/* Add styling for sidebar content */
}
